<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
	<div class="row">
		<div class="input-field form-group col offset-s4 s4">
			<input type="text" id="username" name="username" required="required" />
			<label for="username" class="active">{{ 'Pseudo'|trans({}, 'FOSUserBundle') }}</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field form-group col offset-s4 s4">
			{% if invalid_username is defined %}
			<p>{{ 'Pseudo invalide'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
			{% endif %}

			{% if already_requested is defined %}
			<p>{{ already_requested }}</p>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col offset-s4 s4">
			<input class="btn btn-primary btn-block" type="submit" value="{{ 'Envoyer'|trans({}, 'FOSUserBundle') }}" />
		</div>
	</div>
</form>
