<div class="header">
	<div class="menu">
		<div class="row">
			<div class="col s12">
				<ul class="tabs">
					<li class="tab col m2"><a href="{{ path('homepage') }}">Accueil</a></li>
					<li class="tab col m2"><a href="{{ path('challenges') }}">Les Défis</a></li>
					<li class="tab col m2"><a href="{{ path('about') }}">À Propos</a></li>
					<li class="tab col m2"><a href="{{ path('contact') }}">Contact</a></li>
					<li class="tab col m2 disabled"><a href="#"></a></li>
					{% if app.user %}
					<li class="tab col m2"><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
					<li class="tab col m2"><a href="{{ path('fos_user_profile_edit') }}">Mon compte</a></li>
					{% else %}
					<li class="tab col m2"><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
					<li class="col m2 logInButton"><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
					{% endif %}
					{% if app.request.attributes.get('_route') == "homepage" %}
					<div class="indicator accueil"></div>
					{% elseif app.request.attributes.get('_route') == "challenges" %}
					<div class="indicator lesdefis"></div>
					{% elseif app.request.attributes.get('_route') == "about" %}
					<div class="indicator apropos"></div>
					{% elseif app.request.attributes.get('_route') == "contact" %}
					<div class="indicator contact"></div>
					{% elseif app.request.attributes.get('_route') == "fos_user_registration_register" %}
					<div class="indicator sinscrire"></div>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
	<div class="responsive-menu">
		<div class="row">
			<div class="col s6 left-align">
				<div class="responsive-logo">
					<img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/logo_definitif.svg')}}"/>
				</div>
			</div>
            <div class="col m6 s6 l6 right-align navicon">
                <p>MENU</p>
                <a id="trigger-overlay" class="nav-toggle" href="#">
                <span></span>
                </a>
            </div>
		</div>
	</div>

	<div class="underHeader">
		<div class="logo">
			<img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/logo_definitif.svg')}}"/>
		</div>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax">
		<img src="{{asset('bundles/AppBundle/img/accueil.jpg')}}"/>
	</div>
	<div class="blockHeader hoverable">
		<br>
		<p><i class="medium material-icons">language</i></p>
		<p>Défiez la communauté afin de progresser sur le podium de Ukando'it en remportant les challenges proposés par les utilisateurs.</p>
		<p><span>Inscription Gratuite</span><br>
			<i class="small material-icons">play_for_work</i>
			<a href="{{ path('fos_user_registration_register') }}">
				<div id="inscription-button">
					<span>S'inscrire</span>
				</div>
			</a>
		</p>
	</div>

</div>

<div class="overlay overlay-boxify">
	<nav class="no-materialize">
		<ul class="no-materialize">
			<li><a href="{{ path('homepage') }}"><i class="material-icons">store</i>Accueil</a></li>
			<li><a href="{{ path('challenges') }}"><i class="material-icons">star</i>Les Défis</a></li>
		</ul>
		<ul>
			<li><a href="{{ path('about') }}"><i class="material-icons">info_outline</i>À Propos</a></li>
			<li><a href="{{ path('contact') }}"><i class="material-icons">contacts</i>Contact</a></li>
		</ul>
	</nav>
</div>