<div class="header">
	<div class="menu">
		<div class="row">
			<div class="col s12">
				<ul class="tabs">
					<li class="tab col m2"><a {% if app.request.attributes.get('_route') == "homepage" %}class="active-menu"{% endif %} href="{{ path('homepage') }}">Accueil</a></li>
					<li class="tab col m2"><a {% if app.request.attributes.get('_route') == "challenges" %}class="active-menu"{% endif %} href="{{ path('challenges') }}">Les Défis</a></li>
					<li class="tab col m2"><a {% if app.request.attributes.get('_route') == "about" %}class="active-menu"{% endif %} href="{{ path('about') }}">À Propos</a></li>
					<li class="tab col m2"><a {% if app.request.attributes.get('_route') == "contact" %}class="active-menu"{% endif %} href="{{ path('contact') }}">Contact</a></li>
					<li class="tab col m1 disabled"><a href="#"></a></li>
					{% if app.user %}
						<ul id="dropdown1" class="dropdown-content">
							<li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
							<li><a href="{{ path('fos_user_profile_edit') }}">Compte</a></li>
							<li><a href="{{ path('objects') }}">Objets</a></li>
							<li><a href="{{ path('my_challenges') }}">Mes défis</a></li>
							<li class="defiez" ><a href="{{ path('add_defis') }}">Défier !</a></li>
						</ul>
						<li><a class="tab col m3 dropdown-button" href="#!" data-activates="dropdown1">{{ app.user.username }}<i class="material-icons right">play_for_work</i></a></li>
						<li class="tab col m1 avatar_menu">
							{% if app.user.avatar != null %}
								{% set image = vich_uploader_asset(app.user.avatar, 'imageFile') %}
								<a href="{{ path('fos_user_profile_show') }}">
									<img data-position="bottom" data-delay="50" data-tooltip="{{ app.user.username }} - Niv.{{ app.user.level }}" class="tooltipped menu_logo dp circle" src="{{ asset(image) }}" alt="photo de profil de {{ app.user.username }}">
								</a>
							{% else %}
								<a href="{{ path('fos_user_profile_show') }}">
									<img data-position="bottom" data-delay="50" data-tooltip="{{ app.user.username }} - Niv.{{ app.user.level }}" class="tooltipped menu_logo dp circle" src="{{asset('bundles/AppBundle/img/sans_avatar.jpg')}}"  alt="photo de profil de {{ app.user.username }}">
								</a>
							{% endif %}
						</li>
						<li class="tab col m1 logOutButton"><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Se déconnecter">input</i></a></li>
					{% else %}
						<li class="tab col m2"><a {% if app.request.attributes.get('_route') == "fos_user_registration_register" %}class="active-menu"{% endif %} href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
						<li class="col m2 logInButton"><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
	<div class="responsive-menu">
		<div class="row">
			<div class="col s6 left-align">
				<div class="responsive-logo">
					<a href="{{ path('homepage') }}"><img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/logo_definitif.svg')}}" alt="logo ukando'it"/></a>
				</div>
			</div>
			<div class="col m6 s6 l6 right-align navicon">
				<p>MENU</p>
				<a id="trigger-overlay" class="nav-toggle" href="#">
					<span></span>
				</a>
			</div>
		</div>
	</div>
	<div class="underHeader">
		<div class="logo">
			<a href="{{ path('homepage') }}"><img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/logo_definitif.svg')}}" alt="logo ukando'it"/></a>
		</div>
	</div>
</div>
{% if app.request.attributes.get('_route') == "homepage" %}
<div class="parallax-container large">
<div class="parallax accueil">
		<img src="{{asset('bundles/AppBundle/img/wall-home.jpg')}}" alt="Accueil ukando'it"/>
	</div>
{% elseif app.request.attributes.get('_route') == "challenges" %}
<div class="parallax-container">
<div class="parallax small challenge">
	<img src="{{asset('bundles/AppBundle/img/wall-challenges.jpg')}}" alt="Accueil ukando'it"/>
</div>
{% elseif app.request.attributes.get('_route') == "about" %}
<div class="parallax-container">
<div class="parallax small about">
	<img src="{{asset('bundles/AppBundle/img/wall-about.jpg')}}" alt="Accueil ukando'it"/>
</div>
{% elseif app.request.attributes.get('_route') == "contact" %}
<div class="parallax-container">
<div class="parallax small contact">
	<img src="{{asset('bundles/AppBundle/img/wall-contact.jpg')}}" alt="Accueil ukando'it"/>
</div>
{% elseif app.request.attributes.get('_route') == "fos_user_registration_register" %}
<div class="parallax-container">
<div class="parallax small register">
	<img src="{{asset('bundles/AppBundle/img/wall-register.jpg')}}" alt="Accueil ukando'it"/>
</div>
{% else %}
<div class="parallax-container">
<div class="parallax small accueil">
		<img src="{{asset('bundles/AppBundle/img/wall-home.jpg')}}" alt="Accueil ukando'it"/>
	</div>
{% endif %}
	{% if app.request.attributes.get('_route') == "homepage" %}
	<div class="blockHeader hoverable">
		<div class="container">
			<br>
			<i class="medium material-icons hide-on-med-and-up">language</i>
			<h1>Les objets connectés se rencontrent pour des défis sportifs</h1>
			<h2 class="hide-on-small-only">Défiez la communauté afin de progresser sur le podium de Ukando'it en remportant les challenges proposés par les utilisateurs.</h2>
			{% if app.user %}
			<span>Accéder aux challenges</span><br>
			<i class="medium material-icons">play_for_work</i>
			<a href="{{ path('challenges') }}">
				<div id="inscription-button">
					<span>Les défis</span>
				</div>
			</a>
			{% else %}
			<span>Inscription Gratuite</span><br>
			<i class="medium material-icons">play_for_work</i>
			<a href="{{ path('fos_user_registration_register') }}">
				<div id="inscription-button">
					<span>S'inscrire</span>
				</div>
			</a>
			{% endif %}
		</div>
	</div>
	{% endif %}
</div>
<div class="overlay overlay-boxify">
	<nav class="no-materialize">
		<ul class="no-materialize">
			<li><a href="{{ path('homepage') }}"><i class="material-icons">store</i>Accueil</a></li>
			<li><a href="{{ path('challenges') }}"><i class="material-icons">star</i>Les Défis</a></li>
		</ul>
		<ul class="no-materialize">
			<li><a href="{{ path('about') }}"><i class="material-icons">info_outline</i>À Propos</a></li>
			<li><a href="{{ path('contact') }}"><i class="material-icons">contacts</i>Contact</a></li>
		</ul>
		<ul class="no-materialize">
			{% if app.user %}
				<li><a href="{{ path('add_defis') }}"><i class="material-icons">games</i>Défier !</a></li>
				<li><a href="{{ path('my_challenges') }}"><i class="material-icons">view_list</i>Mes Défis</a></li>
				</ul>
				<ul class="no-materialize">
				<li><a href="{{ path('fos_user_profile_show') }}"><i class="material-icons">perm_identity</i>Mon profil</a></li>
				<li><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons">input</i>Déconnection</a></li>
			{% else %}
				<li><a href="{{ path('fos_user_registration_register') }}"><i class="material-icons">web</i>S'inscrire</a></li>
				<li><a href="{{ path('fos_user_security_login') }}"><i class="material-icons">open_in_new</i>Connexion</a></li>
			{% endif %}
		</ul>
	</nav>
</div>