<section class="titre_page">
	<div class="row">
		<div class="bloc_rouge"></div>
		<div class="bloc_titre">
			<h1>Accueil</h1>
		</div>
	</div>
</section>

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
  {# {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
    #}
    <div class="container registation" id="fos_user_registration_form">
    	<div class="row">


    		<div class="bande_rouge">Formulaire d'inscription</div>

    		<div class="card-panel">	
    			<div class="input-field form-group col s12 m6">
    				<input id="last_name" type="text" class="validate">
    				<label for="last_name">Prénom</label>
    			</div>
    			<div class="input-field form-group col s12 m6">
    				<input id="last_name" type="text" class="validate">
    				<label for="last_name">Nom</label>
    			</div>		

    			<div class="col s12 m6">    
    				<div class="form-group">  

    					{{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': "Pseudo"|trans } }) }}
    					{{ form_errors(form.username) }}
    				</div>
    			</div>
    			<div class="input-field col s12 m6 form-group">


    				<form action="#">

    					<input class="with-gap" name="group_gender" type="radio" id="woman" />
    					<label for="woman">Femme</label>

    					<input class="with-gap" name="group_gender" type="radio" id="man" />
    					<label for="man">Homme</label>


    				</form>


    			</div>
    			<div class="col s12">
    				<div class="form-group">
    					{{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'|trans } }) }}
    					{{ form_errors(form.email) }}
    				</div>
    			</div>   

    			<div class="col s12 m6">
    				<div class="form-group">
    					{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'|trans } }) }}
    					{{ form_errors(form.plainPassword.first) }}
    				</div>
    			</div>  
    			<div class="col s12 m6">
    				<div class="form-group">
    					{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'|trans } }) }}
    					{{ form_errors(form.plainPassword.second) }}
    				</div>
    			</div>   
    			
    			<div class="col s12">
    				
    				<form action="#">
    					<div class="file-field input-field">
    						<div class="btn">
    							<span>File</span>
    							<input type="file">
    						</div>
    						<div class="file-path-wrapper">
    							<input class="file-path validate" type="text">
    						</div>
    					</div>
    				</form>

    			</div>
    			
    			{{ form_rest(form) }}
    			<div class="form-group">
    				<div class="btn_centre">    	
    					<input type="submit" value="{{ 'Inscription' |trans({}, 'FOSUserBundle') }} "class="btn btn-primary btn-block btn-lg" tabindex="7" title="s'inscrire">
    				</div>
    			</div>

    		</div>
    	</div>

    </div>
</form>
