<section class="titre_page">

    <div class="row">
        <div class="bloc_rouge"></div>
        <div class="bloc_titre">
            <h1>S'inscrire</h1>
        </div>
    </div>

</section>


<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

    <div class="container registation" id="fos_user_registration_form">

        <div class="row">

            <div class="bande_rouge">
                <div class="col s12">Formulaire d'inscription</div>
            </div>

            <div class="card-panel">
                <div class="row">
                    <div class="col s12">
                        <small>
                            * Les champs précisés d'une (*) sont obligatoires.
                        </small>
                    </div>
                </div>

                <div class="input-field form-group col s12 m6">
                    {{ form_widget(form.firstname, { 'attr': {'class': 'form-control' } }) }}
                    <label for="last_name">Prénom</label>
                    {#
                    {{ form_errors(form.firstname) }}
                    #}
                </div>
                <div class="input-field form-group col s12 m6">
                    {{ form_widget(form.lastname, { 'attr': {'class': 'form-control' } }) }}
                    <label for="last_name">Nom</label>
                    {#
                    {{ form_errors(form.lastname) }}
                    #}
                </div>

                <div class="input-field form-group col s12 m6">
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                    <label for="last_name">Pseudo *</label>
                    {#
                    {{ form_errors(form.username) }}
                    #}
                </div>

                <div class="input-field form-group col s12 m6">
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control' } }) }}
                    <label for="last_name">Mail *</label>
                    {#
                    {{ form_errors(form.email) }}
                    #}
                </div>

                <div class="col s12 m6">
                    <div class="form-group">
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe *'|trans } }) }}
                        {#
                        {{ form_errors(form.plainPassword.first) }}
                        #}
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="form-group">
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe *'|trans } }) }}
                        {#
                        {{ form_errors(form.plainPassword.second) }}
                        #}
                    </div>
                </div>


                {#<div class="col s12">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            {{ form_widget(form.avatar, { 'attr': {'class': 'file-path validate' } }) }}

                            {{ form_errors(form.avatar) }}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>#}

                <div class="col s12">
                    <p>Poids max de l'image : 2 Mo</p>
                    {{ form_widget(form.avatar) }}

                    {{ form_errors(form.avatar) }}
                </div>



                {{ form_rest(form) }}
                <div class="form-group">
                    <div class="btn_centre">
                        <div class="col s12 g-recaptcha" data-sitekey="6LcJBBcTAAAAAKQIlh3sCogXUGMUb7D_yQEN63C-"></div>

                        <input type="submit" value="{{ 'Inscription' |trans({}, 'FOSUserBundle') }} "class="btn btn-primary btn-block btn-lg" tabindex="7" title="s'inscrire">
                    </div>
                </div>

            </div>
        </div>

    </div>
</form>


