{% extends "::base.html.twig" %}

{% block body %}
{% block fos_user_content %}
{# {% if error %}
<div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
#}

{% block javascripts %}
	{% if error %}
	<script type="text/javascript">
		$( document ).ready(function() {
			toastr.error("Votre identifiant et votre mot de passe ne correspondent pas.");
		});
	</script>
	{% endif %}
{% endblock %} 




<section class="titre_page">
	<div class="row">
		<div class="bloc_rouge"></div>
		<div class="bloc_titre">
			<h1>Se connecter</h1>
		</div>
	</div>
</section>



<div class="container">
	<div class="row">


		<div class="bande_rouge">Formulaire de connexion</div>

		<div class="card-panel">	
			<form action="{{ path("fos_user_security_check") }}" method="post">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

				<div class="input-field form-group col s12">
					<input type="text" class="validate" id="username" name="_username" value="{{ last_username }}" required="required" />
					<label class="active" for="username">Login</label>

				</div>


				<div class="input-field form-group col s12">
					<input type="password" class="validate" id="password" name="_password" required="required" />
					<label class="active" for="password">Mot de passe</label>
				</div>
				<p class="col s12">
					<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
					<label for="remember_me">Se souvenir de moi</label>
				</p>
				<div class="form-group">
					<div class="btn_centre">    	
						<button class="btn btn-primary btn-block btn-lg" type="submit" id="_submit" name="_submit">Se connecter</button>
						<!-- btn waves-effect waves-light -->
					</div>
				</div>



			{#	<div class="input-field">
					<input type="text" class="validate" id="username" name="_username" value="{{ last_username }}" required="required" />
					
					<label class="active" for="username">Login</label>
				</div>

				<div class="input-field">
					<input type="password" class="validate" id="password" name="_password" required="required" />
					<label class="active" for="password">Mot de passe</label>
				</div>

				<p>
					<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
					<label for="remember_me">Se souvenir de moi</label>
				</p>

				#}
				
			</div>


		</form>
	</div>


</div>
{% endblock fos_user_content %}

{% endblock %}

