<section class="titre_page">
	<div class="row">
		<div class="bloc_rouge"></div>
		<div class="bloc_titre">
			<h1>Mon compte</h1>
		</div>
	</div>
</section>

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
	<div class="container registation" id="fos_user_registration_form">
		<div class="row">


			<div class="bande_rouge">Mon compte</div>

			<div class="card-panel">    
				<div class="input-field form-group col s12 m6">
					{{ form_widget(form.firstname, { 'attr': {'class': 'form-control', 'placeholder': "Prénom"|trans } }) }}
					{{ form_errors(form.firstname) }}
				</div>
				<div class="input-field form-group col s12 m6">
					{{ form_widget(form.lastname, { 'attr': {'class': 'form-control', 'placeholder': "Nom"|trans } }) }}
					{{ form_errors(form.lastname) }}
				</div>

				<div class="input-field form-group col s12 m6"> 
					{{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'|trans } }) }}
					{{ form_errors(form.email) }}
				</div>  

				<div class="col s12 m6">
					<div class="file-field input-field">
						<div class="btn">
							<span>File</span>
							{{ form_widget(form.avatar, { 'attr': {'class': 'file-path validate' } }) }}
							{{ form_errors(form.avatar) }}
						</div>
					</div>
				</div>

				<div class="col s12">
					<div class="form-group">
						{{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'|trans } }) }}
						{{ form_errors(form.current_password) }}
					</div>
				</div>  

				{{ form_rest(form) }}
				<div class="form-group">
					<div class="btn_centre">        
						<input type="submit" value="{{ 'Sauvegarder'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary btn-block btn-lg" tabindex="7" title="Sauvegarder" />
					</div>
				</div>

			</div>
		</div>

	</div>
</form>

<div class="change-password">
	<a class="waves-effect waves-teal btn-flat" href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a>
</div>

<div class="delete">
	<a class="waves-effect waves-teal btn-flat" href="{{ path('user_delete') }}">Supprimer mon compte</a>
</div>