<section class="objects">
    <section>
        {% if app.user.possessedDevices|length != 0 %}
            <ul class="collection">
                {% for possessedDevice in app.user.possessedDevices %}
                <li class="collection-item">
                  <span class="title">{{ possessedDevice.deviceType }}</span>
                  <a href="{{ path('objects_delete', {id: possessedDevice.id}) }}" class="secondary-content" name="delete" title"Supprimer cet objet"><i class="material-icons">delete</i></a>
                  </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Vous n'avez aucun objet pour le moment !</p>
        {% endif %}
    </section>
    <section>
        <div class="row">
          {% if app.user.possessedDevices|length >= 3 %}
            Vous avez déjà un objet pour chaque marque. Veuillez supprimer l'objet de la marque que vous voulez changer.
          {% else %}
            {{ form_start(form) }}
            {{ form_errors(form.deviceType) }}
            <div class="col m3">
                <h2>Ajouter un objet :</h2>
            </div>
            <div class="input-field col m3">
               {{ form_widget(form.deviceType) }}
           </div>
           <div class="input-field col m2">
               {{ form_widget(form.submit, {"attr": {"class": "waves-effect waves-light btn"}}) }}
           </div>
           <div class="input-field col m4">
               L'ensemble de vos données resteront <b>confidentielles</b> et nous les utiliserons <b>uniquement</b> dans le cadre de Ukandoit.fr .
           </div>
           {{ form_end(form) }}
           {% endif %}
       </div>
   </section>
</section>