<section class="content_profil">
	<div class="row center-align">
		<div class="col s12 m4">
			<div class="stat_defis hoverable left-align">Défis gagnés : 12<br/>Défis perdus : 2</div>
		</div>
		<div class="col s12 m4">
			{% if user.avatar != null %}
			{% set image = vich_uploader_asset(user.avatar, 'imageFile') %}
			<img class="dashboard_avatar" src="{{ asset(image) }}" alt="photo de profil de {{ user.username }}">
			{% else %}
				<img class="dashboard_avatar" src="{{asset('bundles/AppBundle/img/sans_avatar.jpg')}}"  alt="photo de profil de {{ user.username }}">
			{% endif %}
		</div>
		<div class="col s12 m4">
			<div class="inscription_date hoverable">Objets connectés activés : {{user.possessedDevices|length}}</div>
		</div>
		<div class="col s12 dashboard_pseudo">
			<h1>{{ user.username }}</h1>
		</div>
		<div class="col s1 show_level">
			{{ user.level }}
		</div>
		<div class="col s10">
			{% set pourcent = user.nbPoints %}
			{% set pourcent = (pourcent / 1000)*100 %}
			<div class="xp_bar"><div class="xp_progress" style="width : {{ pourcent }}%;"></div></div>
		</div>
		<div class="col s1 show_level">
			{% set level1 = user.level %}
			{% set level1 = level1 + 1 %}
			{{ level1 }}
		</div>
		<div class="col s12 dashboard_pseudo">
			{{ user.nbPoints }} / 1000 pts
		</div>
	</div>
</div>
</section>

