<div class="fos_user_user_show">
	{% if user.avatar != null %}
		{% set image = vich_uploader_asset(user.avatar, 'imageFile') %}
		<img src="{{ asset(image) }}">
	{% endif %}

	<p>{{ 'Prénom'|trans({}, 'FOSUserBundle') }}: {{ user.firstname }}</p>
    <p>{{ 'Nom'|trans({}, 'FOSUserBundle') }}: {{ user.lastname }}</p>
    <p>{{ 'Login'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
    <p>{{ 'Email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
</div>
