{% extends "::base.html.twig" %}

{% block body %}
	<h1>Ajouter un objet</h1>
    <br>


    <div class="row">
        <div class="col s4">
            {{ form_start(form) }}
            {{ form_label(form.deviceType) }}
            {{ form_errors(form.deviceType) }}
             <div class="input-field">
                {{ form_widget(form.deviceType) }}
             </div>
            {{ form_end(form) }}
        </div>
    </div>
        {#{{ form_row(form.deviceType) }}#}

{% endblock %}