{% extends "::base.html.twig" %}
{% block body %}

<section class="titre_page">
	<div class="row">
		<div class="bloc_rouge"></div>
		<div class="bloc_titre">
			<h1>Contact</h1>
		</div>
	</div>
</section>

<div class="container">
	<div class="row">
		<div class="col s12 center-align">
			<p>N'hésitez pas à nous contacter si vous rencontrez un problème ou si vous souhaitez partager un avis, nous vous répondrons aussi vite que possible !</p>
		</div>
	</div>
	<div class="row">
		<div class="col s12 l6">
			<small>
				* Les champs précisés d'une (*) sont obligatoires.
			</small>
			<div class="col s12">
				{{ form_start(form, { 'attr': {'id': 'contact'} }) }}

				<div class="input-field form-group col s12">
					{{ form_widget(form.name) }}
					<label class="active" for="username">Nom *</label>

				</div>
				<div class="input-field form-group col s12">
					{{ form_widget(form.email) }}
					<label class="active" for="username">Email *</label>

				</div>
				<div class="input-field form-group col s12">
					{{ form_widget(form.subject) }}
					<label class="active" for="username">Sujet *</label>

				</div>
				<div class="input-field form-group col s12">

					{{ form_widget(form.message, { 'attr': {'class': 'materialize-textarea'} }) }}

					<label for="textarea1">Contenu *</label>

				</div>

				<div class="form-group">
					<div class="btn_centre">
						<div class="col s12 g-recaptcha" data-sitekey="6LcJBBcTAAAAAKQIlh3sCogXUGMUb7D_yQEN63C-"></div>
						<button class="btn btn-primary btn-block" type="submit" id="form_send" name="form[send]">Envoyer</button>
						<!-- btn waves-effect waves-light -->
					</div>
				</div>
				{{ form_widget(form._token) }}
			</div>
		</div>
		<div class="col s12 l6 map">
			<div class="map-responsive">
				<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"src="https://maps.google.com/maps?hl=en&q=15 rue Naudet  Gradignan, France&ie=UTF8&t=m&z=12&iwloc=B&output=embed"><div><small><a href="http://embedgooglemaps.com" title="Google maps">
					embed google map
				</a></small></div><div><small><a href="http://googlemapsgenerator.com" title="google maps">googlemapsgenerator.com</a></small></div></iframe>
			</div>
		</div>
	</div>
</div>


{% endblock %}