{% extends "::base.html.twig" %}

{% block description %}
<meta name="description" content="Les objets connectés se rencontrent le temps de défis sportifs. 
Choisissez le type de défi que vous voulez lancer et tout le monde pourra le relever, peu importe 
l'objet connecté que l'on possède !" />
{% endblock %}

{% block body %}

<div class="container home">
	<section class="titre_page">
		<div class="row">
			<div class="bloc_rouge"></div>
			<div class="bloc_titre">
				<h1>Accueil</h1>
			</div>
		</div>
	</section>
	<section class="defis">
		<div class="row">
			<div class="col s4 m2 offset-s0 offset-m3 center-align">
				<div href="#" class="round_tab active" name="last-challenges" title="Derniers défis">
					<i class="large material-icons">query_builder</i>
				</div>
				<p>
					Les derniers défis
				</p>
			</div>
			<div class="col s4 m2 center-align">
				<div href="#" class="round_tab" name="best-challenges" title="Défis populaires">
					<i class="large material-icons">star</i>
				</div>
				<p>
					Les plus populaires
				</p>
			</div>
			<div class="col s4 m2 center-align">
				{% if app.user %}
					<div class="round_tab" name="current-challenges" title="Mes défis">
						<i class="large material-icons">done</i>
					</div>
				{% else %}
					<div href="{{ path('fos_user_security_login') }}" class="round_tab" name="current-challenges"  title="Mes défis">
						<i class="large material-icons">done</i>
					</div>

				{% endif %}
				<p>
					Les défis en cours
				</p>
			</div>
		</div>

		<div class="row last-challenges affichage-defis">
			{% for challenge in lastChallenges %}
			{% include 'include/_defis.html.twig' with {'challenge': challenge} %}
			{% endfor %}
		</div>

		<div class="row best-challenges affichage-defis">
			{% for challenge in bestChallenges %}
			{% include 'include/_defis.html.twig' with {'challenge': challenge} %}
			{% endfor %}
		</div>

		{% if app.user %}
		<div class="row current-challenges affichage-defis">
			{% for challengeAccepted in app.user.challengesAccepted %}
			{% include 'include/_defis.html.twig' with {'challenge': challengeAccepted.challenge} %}
			{% endfor %}
		</div>
		{% endif %}
	</section>

	<section class="titre_page">
		<div class="row">
			<div class="bloc_rouge"></div>
			<div class="bloc_titre">
				<h1>Le Top 3</h1>
			</div>
		</div>
	</section>

	<section class="classement center-align">
		<div class="row">
			<ul class="collection">
				{% for i in 0..2 %}
				<li class="collection-item avatar">
					<a href="{{ path('user_other', {'name': bestChallengers[i].username }) }}">

						{% if bestChallengers[i].avatar != null %}
						{% set image = vich_uploader_asset(bestChallengers[i].avatar, 'imageFile') %}
						<img class="media-object dp circle" src="{{ asset(image) }}" alt="Avatar de {{ bestChallengers[i].username }}">
						{% else %}
						<img class="media-object dp circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/teclaro/128.jpg" alt="Avatar de {{ bestChallengers[i].username }}">
						{% endif %}
						<p>
							<b>{{ bestChallengers[i].username }}</b>
						</p>
						<p>
							Niv. {{ bestChallengers[i].level }}
						</p>
						<p>
							<i>{{ bestChallengers[i].nbPoints }} points</i>
						</p>
						<div class="secondary-content">
							{% if i == 0 %}
							<img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/first.png')}}" alt="Médaille gagant">
							{% elseif i == 1%}
							<img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/second.png')}}" alt="Médaille second">
							{% else %}
							<img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/third.png')}}" alt="Médaille troisième">
							{% endif %}

						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
		</section>
	</div>
	{% endblock %}

