{% extends "::base.html.twig" %}
{% block body %}

<div class="container home">
	<section class="titre_page">
		<div class="row">
			<div class="bloc_rouge"></div>
			<div class="bloc_titre">
				<h1>Accueil</h1>
			</div>
		</div>
	</section>
	<section class="defis">
		<div class="row">
			<div class="col s4 m2 offset-s0 offset-m3 center-align">
				<a href="#" class="round_tab active" name="last-challenges">
					<i class="large material-icons">query_builder</i>
				</a>
				<p>
					Les derniers défis
				</p>
			</div>
			<div class="col s4 m2 center-align">
				<a href="#" class="round_tab" name="best-challenges">
					<i class="large material-icons">star</i>
				</a>
				<p>
					Les plus populaires
				</p>
			</div>
			<div class="col s4 m2 center-align">
				{% if app.user %}
					<a href="#" class="round_tab" name="current-challenges">
						<i class="large material-icons">done</i>
					</a>
				{% else %}
					<a href="{{ path('fos_user_security_login') }}" class="round_tab" name="current-challenges">
						<i class="large material-icons">done</i>
					</a>

				{% endif %}
				<p>
					Les défis en cours
				</p>
			</div>
		</div>

		<div class="row last-challenges affichage-defis">
			{% for challenge in lastChallenges %}
			{% include 'include/_defis.html.twig' with {'challenge': challenge} %}
			{% endfor %}
		</div>

		<div class="row best-challenges affichage-defis">
			{% for challenge in bestChallenges %}
			{% include 'include/_defis.html.twig' with {'challenge': challenge} %}
			{% endfor %}
		</div>

		{% if app.user %}
		<div class="row current-challenges affichage-defis">
			{% for challengeAccepted in app.user.challengesAccepted %}
			{% include 'include/_defis.html.twig' with {'challenge': challengeAccepted.challenge} %}
			{% endfor %}
		</div>
		{% endif %}
	</section>
	<section class="classement center-align">
		<div class="row">
			<div class="col s4 secondrank">
				{% if bestChallengers[1].avatar != null %}
				{% set image = vich_uploader_asset(bestChallengers[1].avatar, 'imageFile') %}
				<img class="media-object dp circle" src="{{ asset(image) }}">
				{% else %}
				<img class="media-object dp circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/teclaro/128.jpg">
				{% endif %}

				<p>
					{{ bestChallengers[1].username }} - Niv. {{ bestChallengers[1].level }}
				</p>
				<p>
					{{ bestChallengers[1].nbPoints }} points
				</p>
			</div>
			<div class="col s4 firstrank">
				{% if bestChallengers[0].avatar != null %}
				{% set image = vich_uploader_asset(bestChallengers[0].avatar, 'imageFile') %}
				<img class="media-object dp circle" src="{{ asset(image) }}">
				{% else %}
				<img class="media-object dp circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/teclaro/128.jpg">
				{% endif %}
				<p>
					{{ bestChallengers[0].username }} - Niv. {{ bestChallengers[0].level }}
				</p>
				<p>
					{{ bestChallengers[0].nbPoints }} points
				</p>
			</div>
			<div class="col s4 thirdrank">
				{% if bestChallengers[2].avatar != null %}
				{% set image = vich_uploader_asset(bestChallengers[2].avatar, 'imageFile') %}
				<img class="media-object dp circle" src="{{ asset(image) }}">
				{% else %}
				<img class="media-object dp circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/teclaro/128.jpg">
				{% endif %}
				<p>
					{{ bestChallengers[2].username }} - Niv. {{ bestChallengers[2].level }}
				</p>
				<p>
					{{ bestChallengers[2].nbPoints }} points
				</p>
			</div>
		</div>
	</section>
</div>
{% endblock %}

