{% extends "::base.html.twig" %}

{% block body %}
{% for message in app.session.flashBag.get('message') %}
    <div class="flash-notice"> {{ message }} </div>
{% endfor %}



<div class="container home">
{% include "UserBundle:Profile:collection.html.twig" %}

    <section class="titre_page">
        <div class="row">
            <div class="bloc_rouge"></div>
            <div class="bloc_titre">
                <h1>Vos objets</h1>
            </div>
        </div>
    </section>
    <section> 
        {% if app.user.possessedDevices|length != 0 %}
            <div class="collection">
                {% for possessedDevice in app.user.possessedDevices %}
                    {% if "Jawbone UP 24" == possessedDevice.deviceType %}
                        <a href="{{ path('jawbone_moves', {id: possessedDevice.id}) }}" class="collection-item" title="{{ possessedDevice.deviceType }}">
                    {% else %}
                        <a href="{{ path('withings_moves', {id: possessedDevice.id}) }}" class="collection-item" title="{{ possessedDevice.deviceType }}">
                    {% endif %}
                    {{ possessedDevice.deviceType }}</a>
                {% endfor %}
            </div>
        {% else %}
            <p>Vous n'avez aucun objet pour le moment !</p>
        {% endif %}
    </section>
    <section>
        <div class="row">
            {{ form_start(form) }}
            {{ form_errors(form.deviceType) }}
             <div class="col m3">
                <h2>Ajouter un objet :</h2>
             </div>
             <div class="input-field col m3">
               {{ form_widget(form.deviceType) }}
             </div>
             <div class="input-field col m4">
               {{ form_widget(form.submit, {"attr": {"class": "waves-effect waves-light btn"}}) }}
             </div>
            {{ form_end(form) }}
        </div>
    </section>
</div>

{% endblock %}