{% extends "::base.html.twig" %}

{% block body %}
<div class="container un_defi">
	<section class="titre_page">
		<div class="row">
			<div class="bloc_rouge"></div>
			<div class="bloc_titre">
				<h1>Données</h1>
			</div>
		</div>
	</section>
	

	<div class="row ">
		<div class="defi col s12 ">
			<div class="bande_rouge">
				<div class="col m12">
					<h2 class="card-title">{{ challenge.title }}</h2>
				</div>

			</div>
			<div class="card-panel">
				<!-- <h2 class="card-title"><div class="texte_rouge">Titre : {{ challenge.title }}</div></h2> -->
				<div class="row show_defi">
					<div class="col s12 m6 col-left">
						<div class="member_name">
							<p>	<div class="texte_rouge">Proposé par</div> : {{ challenge.creator }} - Niv. {{ challenge.creator.level }}</p>
						</div>
						<p>	<div class="texte_rouge">Défi </div> : {{ challenge.getTeaser() }}</p>
						{% if challenge.kilometres != null %}
						<p> <div class="texte_rouge">Distance min. </div>: {{ challenge.kilometres }}km</p>
						{% else %}
						<p> <div class="texte_rouge">Nombre de pas</div> min. : {{ challenge.nbSteps }}pas</p>
						{% endif %}
						<p>	<div class="texte_rouge">Durée</div> : Du {{ challenge.creationDate|date("d M. Y" )}} au {{ challenge.endDate|date("d M. Y" )}}</p>
						<p>	<div class="texte_rouge">Nombre de participants</div> : {{ challenge.userChallenges|length }} parts. </p>
						<p>	<div class="texte_rouge">Nombres de points </div> à gagner : {{ challenge.nbPoints }} exp.</p>
					</div>
					<div class="col s12 m6 ">
						{% set rang = null %}
						{% set appareil = null %}
						{% set performance = null %}
						{% set mesure = null %}
						{% set classement = 0 %}
						{% set participe = false %}
						{% for participant in participants %}
						{% if app.user != null %}
						{% if app.user.id == participant.userid %}
						{% set rang = classement + 1 %}
						{% set appareil = participant.device %}
						{% set performance = participant.performance %}
						{% set mesure = participant.mesure %}
						{% set participe = true %}
						{% endif %}
						{% set classement = classement + 1 %}
						{% endif %}
						{% endfor %}
						{% if participe == false %}
						<p>Vous ne participez pas au défi</p>
						<div data-target="modal1"  class="card-action modal_defis" id="1" value="{{ challenge.id }}">
							<a  href="#!" class="texte_rouge">Ikando'it !</a>
						</div>
						{% else %}
						<p> <div class="texte_rouge">Nom </div> : {{ app.user.username }}</p>
						<p> <div class="texte_rouge">Rang </div> : {{ rang }}</p>
						<p> <div class="texte_rouge">Appareil </div> : {{ appareil }}</p>
						<p> <div class="texte_rouge">Performance </div> : {{ performance }} {{ mesure }}</p>
						<div class="col s12 del_action">
							{% if app.user.id == challenge.creator.id and challenge.userChallenges|length <= 1 %}
							<a href ="{{ path('delete_challenge', {'id': challenge.id}) }}" class="texte_rouge">Supprimer <i class="material-icons check">delete</i></a>
							{% else %}
							<a href ="{{ path('surrender', {'id': challenge.id}) }}" class="texte_rouge">Abandonner <i class="material-icons check">phonelink_erase</i></a>
							{% endif %}
						</div>
						<div class="row">
							<div class="col s12 valign-wrapper">
								<a href="https://twitter.com/share" class="twitter-share-button" data-text="J'ai relevé le défi de {{ challenge.creator }} sur Ukandoit.fr ! Relèverez-vous le challenge ?" data-via="ukando_it" data-hashtags="ukandoit">Tweet</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
								<div class="fb-share-button" data-href="" data-layout="button"></div>
								<div id="fb-root"></div>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

	</div>


	{% if participants|length == 0 %}
	<p>Il n'y a pas de participants à ce défi.</p>
	{% else %}
	<section class="titre_page">
		<div class="row">
			<div class="bloc_rouge"></div>
			<div class="bloc_titre">
				<h1>Le Top 3</h1>
			</div>
		</div>
	</section>
	
	<section class="classement center-align">
		<div class="row">
			<ul class="collection">
				{% set classement = 0 %}
				{% for participant in participants %}
				{% if classement < 3 %}
				<li class="collection-item avatar">
					<a href="{{ path('user_other', {'id': participant.userid }) }}">
						{% if participant.avatar != null %}
						{% set image = vich_uploader_asset(participant.avatar, 'imageFile') %}
						<img class="media-object dp circle" src="{{ asset(image) }}" alt="Avatar de {{ participant.username }}">
						{% else %}
						{% image 'bundles/AppBundle/img/sans_avatar.jpg' %}
								<img class="media-object dp circle" src="{{ asset_url }}"  alt="photo de profil de {{ challenge.creator }}">
						{% endimage %}
						{% endif %}
						<p>
							<b>{{ participant.username }}</b>
						</p>
						<p>
							Niv. {{ participant.level }}
						</p>
						<p>
							<i>{{ participant.performance }} {{ participant.mesure }}</i>
						</p>
						<div class="secondary-content">
							{% if classement == 0 %}
							<img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/first.png')}}" alt="Médaille gagant">
							{% elseif classement == 1%}
							<img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/second.png')}}" alt="Médaille second">
							{% else %}
							<img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/third.png')}}" alt="Médaille troisième">
							{% endif %}

						</div>
					</a>
				</li>

				{% set classement = classement + 1 %}
				{% endif %}

				{% endfor %}
			</ul>
		</div>
	</section>
	{% if participants|length > 3 %}
	<section class="petit_classement">
		<div class="row">
			<div id="highlight responsive-table centered">
				<div class="col s12">
					<table class="highlight responsive-table centered">
						<thead>
							<tr>
								<th data-field="id">Rang</th>
								<th data-field="name">Nom</th>
								<th data-field="name">Appareil</th>
								<th data-field="price">Performance</th>
							</tr>
						</thead>
						<tbody>
							{% if participants|length > 30 %}
								{% set size = 30 %}
							{% else %}
								{% set size = participants|length %}
							{% endif %}

							{% for i in classement..(size - 1) %}
								<tr class = "cursor" onclick="location.href='{{ path('user_other', {'id': participants[i].userid }) }}'">
									<td>{{ i + 1 }}</td>
									<td>{{ participants[i].username }}</td>
									<td>{{ participants[i].device }}</td>
									<td>{{ participants[i].performance }} {{ participants[i].mesure }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	{% endif %}
	{% endif %}
</div>
<div id="modal1" class="modal bottom-sheet">
	<div class="modal-content">
		{% if app.user %}
		<h4>Liste de vos appareils</h4>
		<p>Choisissez l'appareil avec lequel vous souhaitez réaliser le défi.</p>
		{% if app.user.possessedDevices|length != 0 %}
		<form action="#" id="form_defi">
			{% set first = true %}
			{% for possessedDevice in app.user.possessedDevices %}
			{% if first == true %}
			<input class="with-gap" name="object_form" type="radio" checked class="test" value="{{ possessedDevice.id }}" onClick="EnableSubmit(this)" id="{{ possessedDevice.id }}" />
			{% set first = false %}
			{% else %}
			<input class="with-gap" name="object_form" type="radio" class="test" value="{{ possessedDevice.id }}" onClick="EnableSubmit(this)" id="{{ possessedDevice.id }}" />
			{% endif %}
			<label for="{{ possessedDevice.id }}">{{ possessedDevice.deviceType }} </label>
			{% endfor %}
		</form>
		{% else %}
		<p>Vous n'avez aucun objet pour le moment !</p>
		<div class="center-align">
			<a  class="waves-effect waves-light btn modal-trigger" href="{{ path('objects') }}">Ajouter un objet</a>
		</div>
		{% endif %}
	</div>
	<div class="modal-footer">
		<button  id="form_defi_send" class="btn_send waves-effect waves-light btn modal-trigger"  value="{{ challenge.id }}">Relever le défi !</button>
		{% else %}
		<h4>Vous n'êtes pas connecté</h4>
		<p>Veuillez vous connecter ou vous inscrire pour relever le défi !</p>
		<div class="center-align">
			<a  class="waves-effect waves-light btn modal-trigger" href="{{path('fos_user_security_login')}}">Se connecter</a>
			<a  class="waves-effect waves-light btn modal-trigger" href="{{path('fos_user_registration_register')}}">S'inscrire</a>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
	