{% extends "::base.html.twig" %}

{% block body %}
<div class="container un_defi">
	<section class="titre_page">
		<div class="row">
			<div class="bloc_rouge"></div>
			<div class="bloc_titre">
				<h1>Données</h1>
			</div>
		</div>
	</section>
	<div class="row card-panel">
		<div class="col s12 m6 center-align">
			<h2 class="card-title"><div class="texte_rouge">Titre : {{ challenge.title }}</div></h2>

			<div class="member_name">
				<p>	<div class="texte_rouge">Proposé par</div> : {{ challenge.creator }} - Niv. {{ challenge.creator.level }}</p>
			</div>
			<p>	<div class="texte_rouge">Défi </div> : {{ challenge.getTeaser() }}</p>
			{% if challenge.kilometres != null %}
			<p> <div class="texte_rouge">Distance min. </div>: {{ challenge.kilometres }}km</p>
			{% else %}
			<p> <div class="texte_rouge">Nombre de pas</div> min. : {{ challenge.nbSteps }}km</p>
			{% endif %}
			<p>	<div class="texte_rouge">Durée</div> : Du {{ challenge.creationDate|date("d M. Y" )}} au {{ challenge.endDate|date("d M. Y" )}}</p>
			<p>	<div class="texte_rouge">Nombre de participants</div> : {{ challenge.userChallenges|length }} parts. </p>
			<p>	<div class="texte_rouge">Nombres de points </div> à gagner : {{ challenge.nbPointsFirst }} exp.</p>
		</div>
		<div class="col s12 m6 center-align">
		
			
				{% set rang = null %}
				{% set appareil = null %}
				{% set performance = null %}
				{% set mesure = null %}
				{% set classement = 0 %}
				{% for participant in participants %}
					{% if app.user != null %}
							{% if app.user.id == participant.userid %}
								{% set rang = classement + 1 %}
								{% set appareil = participant.device %}
								{% set performance = participant.performance %}
								{% set mesure = participant.mesure %}
							{% endif %}
							{% set classement = classement + 1 %}
					{% endif %}
				{% endfor %}
			<h2 class="card-title"><div class="texte_rouge">Mes données : </div></h2>
			{% if performance == null %}
				<p>Vous ne participez pas au défi</p>
			{% else %}
				<p> <div class="texte_rouge">Nom </div> : {{ app.user.username }}</p>
				<p> <div class="texte_rouge">Rang </div> : {{ rang }}</p>
				<p> <div class="texte_rouge">Appareil </div> : {{ appareil }}</p>
				<p> <div class="texte_rouge">Performance </div> : {{ performance }} {{ mesure }}</p>
			{% endif %}

		</div>
	</div>
	{% if participants|length == 0 %}
	<p>Il n'y a pas de participants à ce défi.</p>
	{% else %}
	<section class="titre_page">
		<div class="row">
			<div class="bloc_rouge"></div>
			<div class="bloc_titre">
				<h1>Le Top 3</h1>
			</div>
		</div>
	</section>
	
	<section class="classement center-align">
		<div class="row">
			<ul class="collection">
				{% set classement = 0 %}
				{% for participant in participants %}
				{% if classement < 3 %}
				<li class="collection-item avatar">
					<a href="{{ path('user_other', {'name': participant.username }) }}">
						{% if participant.avatar != null %}
						{% set image = vich_uploader_asset(participant.avatar, 'imageFile') %}
						<img class="media-object dp circle" src="{{ asset(image) }}" alt="Avatar de {{ participant.username }}">
						{% else %}
						<img class="media-object dp circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/teclaro/128.jpg" alt="Avatar de {{ participant.username }}">
						{% endif %}
						<p>
							<b>{{ participant.username }}</b>
						</p>
						<p>
							Niv. {{ participant.level }}
						</p>
						<p>
							<i>{{ participant.performance }} {{ participant.mesure }}</i>
						</p>
						<div class="secondary-content">
							{% if classement == 0 %}
							<img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/first.png')}}" alt="Médaille gagant">
							{% elseif classement == 1%}
							<img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/second.png')}}" alt="Médaille second">
							{% else %}
							<img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/third.png')}}" alt="Médaille troisième">
							{% endif %}

						</div>
					</a>
				</li>

				{% set classement = classement + 1 %}
				{% endif %}

				{% endfor %}
			</ul>
		</div>
	</section>
{% if participants|length > 2 %}
	<section class="petit_classement">
		<div class="row">
			<div id="highlight responsive-table centered">
				<div class="col s12">
					<table class="highlight responsive-table centered">
						<thead>
							<tr>
								<th data-field="id">Rang</th>
								<th data-field="name">Nom</th>
								<th data-field="name">Appareil</th>
								<th data-field="price">Performance</th>
							</tr>
						</thead>
						<tbody>
							{% for participant in participants %}
							{% if classement > 2 and classement < 30 %}
							<tr class = "cursor" onclick="location.href='{{ path('user_other', {'name': participant.username }) }}'">
								<td>{{ classement }}</td>
								<td>{{ participant.username }}</td>
								<td>{{ participant.device }}</td>
								<td>{{ participant.performance }} {{ participant.mesure }}</td>
							</tr>
							{% set classement = classement + 1 %}
							{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	{% endif %}
	{% endif %}
</div>
{% endblock %}
