{% extends "::base.html.twig" %}

{% block body %}
<div class="container un_defi">
	<section class="titre_page">
		<div class="row">
			<div class="bloc_rouge"></div>
			<div class="bloc_titre">
				<h1>Données</h1>
			</div>
		</div>
	</section>
	<div class="row ">
		<div class="defi col s12 m6">
			<div class="bande_rouge">
				<h2 class="card-title">{{ challenge.title }}</h2>
			</div>
			<div class="card-panel">
				<!-- <h2 class="card-title"><div class="texte_rouge">Titre : {{ challenge.title }}</div></h2> -->

				<div class="member_name">
					<p>	<div class="texte_rouge">Proposé par</div> : {{ challenge.creator }} - Niv. {{ challenge.creator.level }}</p>
				</div>
				<p>	<div class="texte_rouge">Défi </div> : {{ challenge.getTeaser() }}</p>
				{% if challenge.kilometres != null %}
				<p> <div class="texte_rouge">Distance min. </div>: {{ challenge.kilometres }}km</p>
				{% else %}
				<p> <div class="texte_rouge">Nombre de pas</div> min. : {{ challenge.nbSteps }}pas</p>
				{% endif %}
				<p>	<div class="texte_rouge">Durée</div> : Du {{ challenge.creationDate|date("d M. Y" )}} au {{ challenge.endDate|date("d M. Y" )}}</p>
				<p>	<div class="texte_rouge">Nombre de participants</div> : {{ challenge.userChallenges|length }} parts. </p>
				<p>	<div class="texte_rouge">Nombres de points </div> à gagner : {{ challenge.nbPoints }} exp.</p>
			</div>
		</div>

		<div class="defi col s12 m6">
			<div class="bande_rouge">
				<h2 class="card-title">Mes données</h2>
			</div>
			<div class="card-panel">
				{% set rang = null %}
				{% set appareil = null %}
				{% set performance = null %}
				{% set mesure = null %}
				{% set classement = 0 %}
				{% for participant in participants %}
				{% if app.user != null %}
				{% if app.user.id == participant.userid %}
				{% set rang = classement + 1 %}
				{% set appareil = participant.device %}
				{% set performance = participant.performance %}
				{% set mesure = participant.mesure %}
				{% endif %}
				{% set classement = classement + 1 %}
				{% endif %}
				{% endfor %}
				{% if performance == null %}
				<p>Vous ne participez pas au défi</p>
				{% else %}
				<p> <div class="texte_rouge">Nom </div> : {{ app.user.username }}</p>
				<p> <div class="texte_rouge">Rang </div> : {{ rang }}</p>
				<p> <div class="texte_rouge">Appareil </div> : {{ appareil }}</p>
				<p> <div class="texte_rouge">Performance </div> : {{ performance }} {{ mesure }}</p>
				<div class="row">	
					<div class="col s12 valign-wrapper">
						<a href="https://twitter.com/share" class="twitter-share-button" data-text="J'ai relevé le défi de {{ challenge.creator }} sur Ukandoit.fr ! Relèverez-vous le challenge ?" data-via="ukando_it" data-hashtags="ukandoit">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						<div class="fb-share-button" data-href="" data-layout="button"></div>
						<div id="fb-root"></div>
					</div></div>
					<script>(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s); js.id = id;
						js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5&appId=945288328897037";
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));</script>
					{% endif %}
				</div>
				{% set flagChallenge = 0 %}
				{% if app.user != null and  app.user.challengesAccepted|length != 0 %}
				{% for challengeAccepted in app.user.challengesAccepted %}
				{% if challengeAccepted.challenge.id == challenge.id %}
				{% set flagChallenge = 1 %}
				{% endif %}
				{% endfor %}
				{% endif %}
				{% if flagChallenge == 0 %}
				<div data-target="modal1"  class="card-action modal_defis" id="1" value="{{ challenge.id }}">
					<a  href="#!">Ikando'it !</a>
				</div>
				{% else %}
				<div class="card-action">
					{% if app.user.id == challenge.creator.id and challenge.userChallenges|length <= 1 %}
					<a href ="{{ path('delete_challenge', {'id': challenge.id}) }}">Supprimer <i class="material-icons check">delete</i></a>
					{% else %}
					<a href ="{{ path('surrender', {'id': challenge.id}) }}">Abandonner <i class="material-icons check">phonelink_erase</i></a>
					{% endif %}
				</div>
				{% endif %}
			</div>
		</div>



	{% if participants|length == 0 %}
	<p>Il n'y a pas de participants à ce défi.</p>
	{% else %}
	<section class="titre_page">
		<div class="row">
			<div class="bloc_rouge"></div>
			<div class="bloc_titre">
				<h1>Le Top 3</h1>
			</div>
		</div>
	</section>
	
	<section class="classement center-align">
		<div class="row">
			<ul class="collection">
				{% set classement = 0 %}
				{% for participant in participants %}
				{% if classement < 3 %}
				<li class="collection-item avatar">
					<a href="{{ path('user_other', {'id': participant.userid }) }}">
						{% if participant.avatar != null %}
						{% set image = vich_uploader_asset(participant.avatar, 'imageFile') %}
						<img class="media-object dp circle" src="{{ asset(image) }}" alt="Avatar de {{ participant.username }}">
						{% else %}
						{% image 'bundles/AppBundle/img/sans_avatar.jpg' %}
								<img class="media-object dp circle" src="{{ asset_url }}"  alt="photo de profil de {{ challenge.creator }}">
						{% endimage %}
						{% endif %}
						<p>
							<b>{{ participant.username }}</b>
						</p>
						<p>
							Niv. {{ participant.level }}
						</p>
						<p>
							<i>{{ participant.performance }} {{ participant.mesure }}</i>
						</p>
						<div class="secondary-content">
							{% if classement == 0 %}
							<img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/first.png')}}" alt="Médaille gagant">
							{% elseif classement == 1%}
							<img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/second.png')}}" alt="Médaille second">
							{% else %}
							<img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/third.png')}}" alt="Médaille troisième">
							{% endif %}

						</div>
					</a>
				</li>

				{% set classement = classement + 1 %}
				{% endif %}

				{% endfor %}
			</ul>
		</div>
	</section>
	{% if participants|length > 3 %}
	<section class="petit_classement">
		<div class="row">
			<div id="highlight responsive-table centered">
				<div class="col s12">
					<table class="highlight responsive-table centered">
						<thead>
							<tr>
								<th data-field="id">Rang</th>
								<th data-field="name">Nom</th>
								<th data-field="name">Appareil</th>
								<th data-field="price">Performance</th>
							</tr>
						</thead>
						<tbody>
							{% for participant in participants %}
							{% if classement > 2 and classement < 30 %}
							<tr class = "cursor" onclick="location.href='{{ path('user_other', {'id': participant.userid }) }}'">
								<td>{{ classement }}</td>
								<td>{{ participant.username }}</td>
								<td>{{ participant.device }}</td>
								<td>{{ participant.performance }} {{ participant.mesure }}</td>
							</tr>
							{% set classement = classement + 1 %}
							{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	{% endif %}
	{% endif %}
</div>
{% endblock %}
