{% extends "::base.html.twig" %}

{% block body %}
<div class="container">
	{% if participants|length == 0 %}
	<p>Il n'y a pas de participants à ce défi.</p>
	{% else %}
	<section class="titre_page">
		<div class="row">
			<div class="bloc_rouge"></div>
			<div class="bloc_titre">
				<h1>Le Top 3</h1>
			</div>
		</div>
	</section>
	
	<section class="classement center-align">
		<div class="row">
			<ul class="collection">
				{% set classement = 0 %}
				{% for participant in participants %}
				{% if classement < 3 %}
				<li class="collection-item avatar">
					{% if participant.avatar != null %}
					{% set image = vich_uploader_asset(participant.avatar, 'imageFile') %}
					<img class="media-object dp circle" src="{{ asset(image) }}">
					{% else %}
					<img class="media-object dp circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/teclaro/128.jpg">
					{% endif %}
					<p>
						<b>{{ participant.username }}</b>
					</p>
					<p>
						Niv. {{ participant.level }}
					</p>
					<p>
						<i>{{ participant.performance }} {{ participant.mesure }}</i>
					</p>
					<div class="secondary-content">
						{% if classement == 0 %}
						<img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/first.png')}}">
						{% elseif classement == 1%}
						<img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/second.png')}}">
						{% else %}
						<img class="animated fadeIn" src="{{asset('bundles/AppBundle/img/third.png')}}">
						{% endif %}

					</div>
				</li>

				{% set classement = classement + 1 %}
				{% endif %}

				{% endfor %}
			</ul>
		</div>
	</section>
{% if participants|length > 2 %}
	<section class="petit_classement">
		<div class="row">
			<div id="highlight centered">
				<div class="col s12">
					<table class="highlight centered">
						<thead>
							<tr>
								<th data-field="id">Rang</th>
								<th data-field="name">Nom</th>
								<th data-field="price">Performance</th>
							</tr>
						</thead>
						<tbody>
							{% for participant in participants %}
							{% if classement > 2 and classement < 30 %}

							<tr>
								<td>{{ classement }}</td>
								<td>{{ participant.username }}</td>
								<td>{{ participant.device }}</td>
								<td>{{ participant.performance }} {{ participant.mesure }}</td>
							</tr>
							{% set classement = classement + 1 %}

							{% endif %}
							{% endfor %}

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	{% endif %}
	{% endif %}
</div>
{% endblock %}
