{% extends "::base.html.twig" %}

{% block body %}
{#	<pre>
		{{ dump(activities) }}
	</pre>#}
	<h2>Informations du 01 Fevrier 2016 a aujourd'hui</h2>
	<table>
		<tr>
			<th>Date</th>
			<th>Nombre de pas</th>
			<th>Calories</th>
			<th>Durée de faible activité</th>
			<th>Durée d'activité modérée </th>
			<th>Durée de forte activité</th>
		</tr>

		{% for act in activities %}
				<tr>
					<td>{{ act.date }}</td>
					<td>{{ act.steps }}</td>
					<td>{{ act.calories }}</td>
					<td>{{ act.soft }}</td>
					<td>{{ act.moderate }}</td>
					<td>{{ act.intense }}</td>
				</tr>
		{% endfor %}
	</table>

{% endblock %}
