{% extends "::base.html.twig" %}

{% block body %}
	<pre>
		{{ dump(activities) }}
	</pre>
<div class="container moves">
	<div class="row titre_page">
		<div class="bloc_rouge"></div>
		<div class="bloc_titre">
			<h1>Déplacements</h1>
		</div>
	</div>
	<section class="moves">
		{% if activities|length != 0 %}
			<table>
				<tr>
					<th>Date</th>
					<th>Distance</th>
					<th>Nombre de pas</th>
					<th>Calories</th>
					<th>Durée de faible activité</th>
					<th>Durée d'activité modérée </th>
					<th>Durée de forte activité</th>
				</tr>

				{% for act in activities %}
						<tr>
							<td>{{ act.date }}</td>
							<td>{{ act.distance }}</td>
							<td>{{ act.steps }}</td>
							<td>{{ act.calories }}</td>
							<td>{{ act.soft }}</td>
							<td>{{ act.moderate }}</td>
							<td>{{ act.intense }}</td>
						</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>Vous n'avez pas d'activité ou d'objet enregistré !</p>
		{% endif %}
	</section>
</div>
{% endblock %}
